body{
	background-color: #36393e;
	color: rgba(255,255,255,0.7);
	font-family: Whitney, Helvetica Neue, Helvetica, Arial;
	margin: 0;
	padding: 0.5em;
	max-width: 77em;
}
.headerfooter{
	background-color: #2f3136;
	padding: 1em 0.2em;
	border-radius: 0.1em
}
.headerfooter a{
	text-decoration: none;
	color: #72767d;
	padding: 0.4em;
	margin: 0.2em;
	border-radius: 0.2em
}
.headerfooter a:hover:not(.selected){
	background-color: #36393f;
	color: #b9bbbe;
}
#list{
	border-collapse: collapse;
	width: 100%;
	text-align: left;
	font-size: 14px;
}
#list th{
	border-bottom: 2px hsla(0,0%,100%,.04) solid;
}
#content{
	margin: 0.5em;
}
#list td{
	overflow-wrap: break-word;
	word-break: break-all;
	max-width: 6.5em;
	padding: 0.2em 0;
}
#list tr:hover td{
	background-color: #2f3136;
	color: #b9bbbe;
}
.selected{
	background-color: #7289da;
	color: #fff !important;;
}
#footer{
  font-size: 6px;
	text-align: right;
}
#insertForm{
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}
#insertForm input{
	width: 25em;
	text-align: left;
	background-color: #2a2d31;
	border: 1px solid black;
	border-radius: 0.2em;
	color: #fff;
	padding: 0.5em;
}
#insertForm input:focus{
	border-color: #7289da;
}
#insertForm th{
	border-right: 2px hsla(0,0%,100%,.04) solid;
	text-align: right;
}
#insertForm td{
	width: 100%;
}
#insertForm input[type="submit"]{
	width: 35em;
	text-align: center;
	border: 1px solid #43b581;
	border-radius: 0.2em;
	background-color: #36393f;
	color: #43b581;
	transition: 0.1s;
	padding: 0.5em;
	margin-top: 1em;
}
#insertForm input[type="submit"]:hover{
	background-color: #43b581;
	transition: 0.1s;
	color: #fff;
}
.error{
	color: #f04747;
	font-size: 12px;
	font-weight: bold;
}

.error-border {
	border-color: #f04747 !important;
}

.success{
	background-color: #43b581;
	color: #fff;
	border: 1px solid black;
	border-radius: 0.2em;
	padding: 0.5em;
	margin-top: 1em;
	margin-bottom: 1em;
}

#list a {
	text-decoration: none;
	color: inherit;
	display: block;
}