<div id="error-block" tpl-if="$errors">
</div>
<form method="post" action="?cmd=save">
    <input type="hidden" name="id" value="{{$entry->id}}">
    <table id="insertForm">
        <tr>
            <th>Eesnimi:</th>
            <td><input name="firstName" maxlength="50" value="{{$entry->firstName}}" class="{{$firstNameClass}}"></td>
        </tr>
        <tr class="error" tpl-if="$errors[firstName]">
            <td style="width: 0"></td>
            <td>{{$errors[firstName]}}</td>
        </tr>
        <tr>
            <th>Perekonnanimi:</th>
            <td><input name="lastName" maxlength="50" value="{{$entry->lastName}}" class="{{$lastNameClass}}"></td>
        </tr>
        <tr class="error" tpl-if="$errors[lastName]">
            <td style="width: 0"></td>
            <td>{{$errors[lastName]}}</td>
        </tr>
        <tr>
            <th>Telefon:</th>
            <td><input class="phoneInput" name="phone1" maxlength="50" value="{{$entry->phones[0]}}"></td>
        </tr>
        <tr>
            <th></th>
            <td><input class="phoneInput" name="phone2" maxlength="50" value="{{$entry->phones[1]}}"></td>
        </tr>
        <tr>
            <th></th>
            <td><input class="phoneInput" name="phone3" maxlength="50" value="{{$entry->phones[2]}}"></td>
        </tr>
        <tr id="submitRow">
            <td colspan="2"><input name="submit-button" type="submit" value="Salvesta"></td>
        </tr>

    </table>
</form>