<table id="list">
    <thead>
    <tr><th>Eesnimi</th><th>Perekonnanimi</th><th>Telefon</th></tr>
    </thead>
    <tbody>
    <tr tpl-foreach="$entries as $entry">
        <td><a href="{{$entry->getEditHref()}}">{{$entry->firstName}}</a></td>
        <td><a href="{{$entry->getEditHref()}}">{{$entry->lastName}}</a></td>
        <td><a href="{{$entry->getEditHref()}}">{{$entry->getPhones()}}</a></td>
    </tr>
    </tbody>
</table>