<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{$title}}</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="headerfooter" id="menu">
    <a id="list-page-link" href="?cmd=list_page" class="{{$list_selected}}">Nimekiri</a>
    <a id="add-page-link" href="?cmd=add_page" class="{{$add_selected}}">Lisa</a>
</div>

<div id="content" tpl-include="{{$template}}"></div>

<div class="headerfooter" id="footer">Ergo rakendus. Aastast 2018</div>
</body>
</html>